{% extends 'num1.html' %}
{% block title %}<title>Images</title>{% endblock %}
{% block content %}
<h1 align="center">CHOCOLATE</h1>
<br>
    <div align="center" class="container">
        <div class="row">
            <div class="column">
                <img src="static/choc/1.jpeg" style="height: 400px; width: 200px;">
                <img src="static/choc/2.jpeg" style="height: 360px; width: 200px;">
                <img src="static/choc/4.jpeg" style="height: 320px; width: 200px;">
                <img src="static/choc/5.jpeg" style="height: 280px; width: 200px;">
                <img src="static/choc/3.jpeg" style="height: 200px; width: 250px;">
            </div>
        </div>
    </div>
{% endblock %}